In [20]:
docA = "The cat sat on my face"
docB = "The dog sat on my bed"

In [21]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [22]:
wordSet = set(bowA).union(set(bowB))

In [23]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [24]:
for word in bowA:
    wordDictA[word]+=1
    
for word in bowB:
    wordDictB[word]+=1

In [25]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   sat  The  cat  face  dog  my  bed  on
0    1    1    1     1    0   1    0   1
1    1    1    0     0    1   1    1   1

In [26]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [27]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [28]:

def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [29]:
idfs = computeIDF([wordDictA, wordDictB])

In [30]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [31]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [32]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

   sat  The       cat      face       dog   my       bed   on
0  0.0  0.0  0.050172  0.050172  0.000000  0.0  0.000000  0.0
1  0.0  0.0  0.000000  0.000000  0.050172  0.0  0.050172  0.0